* {
    font-weight: 300;
    color: black;
    margin: 0;
}
@media (min-width: 1400px) and (max-width: 1540px) {
    body {
        background-color: white;
    }
}

.app
header {
    background-color: black;
    border-bottom: 1px solid black;
}

.header__inner {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.header__heading {
    margin: auto;
}

.header__logo

.search-box {
    margin-left: 100px;
}

.search-form

.search-form__item {
    background-color: white;
    border-radius: 5px;
    width: 500px;
    padding: 10px;
    color: black;
}

.search-form__item input::placeholder {
    color: black;
}

.header__nav

.header__list {
    margin: 0;
    display: flex;
}

.header__list-item {
    margin-left: 20px;
}

.header__form

.header__form--logout {
    font-size: 16px;
    padding: 10px;
    color: white;
    position: relative;
    cursor: pointer;
    background-color: black;
    border: none;
}

.header__form--login {
    font-size: 16px;
    padding: 10px;
    color: white;
    position: relative;
    cursor: pointer;
    background-color: black;
    border: none;
}

.header__form--mypage {
    font-size: 16px;
    padding: 10px;
    color: white;
    position: relative;
    cursor: pointer;
    background-color: black;
    border: none;
}

.header__form--listing {
    font-size: 16px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}