.index__content
.index-form__heading {
    display: flex;
}

.index-form__heading-left {
    font-size: 15px;
    margin-left: 40px;
}

.index-form__heading-left :hover {
    color: rgb(255, 0, 0);
}

.index-form__heading-right {
    font-size: 15px;
    margin-left: 30px;
}

.index-form__heading-right :hover {
    color: rgb(255, 0, 0);
}
.line {
    width: 500px;
    height: 1px;
    background-color: rgb(101, 101, 101);
}

.main__content {
    margin-top: 30px;
}

.exhibition-contents {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
}

.exhibition-content {
    margin: 15px;
    width: 270px;
    position: relative;
    box-shadow: 4px 4px rab(244, 244, 244);
}

.exhibition-link {
    display: block;
    text-decoration: none;
    color: black;
}

.img-content {
    width: 100%;
    height: auto;
    display: block;
}

.detail-content {
    color: black;
    height: 45px;
}