.profile__content
.profile-form__heading {
    text-align: center;
}

.profile-form__heading-title {
    margin: 20px;
    font-size: 30px;
    font-weight: 700;
}

.profile-form {
    margin: 30px 0;
}

.form__group {
    margin-bottom: 15px;
    text-align: center;
}

.form__image {
    display: flex;
}

.image_output {
    width: 250px;
    height: 100px;
    margin-bottom: 20px;
}

.image image {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid rgba(255, 0, 0, 0.868);
    font-size: 20px;
    font-weight: 600;
    color: rgba(255, 0, 0, 0.868);
    cursor: pointer;
}

.name-label {
    font-weight: 500;
    font-size: 20px;
    color: black;
    display: block;
}

.form__input--text input {
    width: 600px;
    font-size: 20px;
    padding: 24px;
    border: 1px solid rgb(101, 101, 101);
    border-radius: 5px;
    color: black;
    display: inline-block;
}

.form__input--text input::placeholder {
    color: rgb(152, 150, 150);
}

.input__error_message {
    color: red;
    font-size: 14px;
    padding: 10px 0;
}

.form__button {
    width: 250px;
    margin: 0 auto;
}

.form__button-submit {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: rgba(255, 0, 0, 0.868);
    cursor: pointer;
}